.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.flex-spacer{
  flex-grow: 1;
}

.mat-icon{
  margin: 0px 10px 0px 10px; 
}

// .mat-toolbar.mat-primary{
//   position: sticky;
//   top: 90%;
//   z-index: 1;
// }
